# Python 캐시 및 바이트코드
__pycache__/
*.py[cod]
*$py.class
*.so

# 환경 및 로컬 파일
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 도커 및 시스템 디렉토리
.git/
.github/
.dockerignore
Dockerfile

# 아이디에이션 및 캐시 폴더
.idea/
.vscode/
.cache
